html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

.container {
  width: min(var(--container), calc(100% - 48px));
  margin-inline: auto;
}

section {
  padding: 120px 0;
}